<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">

    <header id="header" style="background-image: url('../../assets/images/banner.jpg')">
      <ul class="icons">
        <div class="nav-center">
					<li><:nav href="/">Home</:nav></li>
					<li><:nav href="/about">About</:nav></li>
          <:user_templates:menu />
        </div>
			</ul>

      <div class="nav-center" style="margin-top: 50%;">
        <a class="button" href="/login">Login</a>
        <a class="button" href="/signup" style="margin-top: 10px">Register</a>
      </div>

    </header>

    <!-- <div style="background-image: url('../../assets/images/hands.jpg')" style="position: fixed; float: right">
      <ul class="icons">
        <div class="nav-center">
					<li><:nav href="/">Home</:nav></li>
					<li><:nav href="/about">About</:nav></li>
          <:user_templates:menu />
        </div>
			</ul>
    </div> -->

    <:volt:notices />
    <div id="main">
    {{ view main_path, 'body', {controller_group: 'main'} }}
  </div>
    <div class="footer">
      <p>&copy; Company {{ Time.now.year }}</p>
    </div>

  </div>

  <footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>
